<!DOCTYPE html>
<html>
  <head>
    <title>Submit a new article</title>
  </head>

  <body>
    <h1>Submit a New Article</h1>

    <form action=form method=post>
      <p>
        <label for=title> Title of article: </label>
        <input type=text id=title name=title>
      </p>
      <p>
        <label for=url> URL: </label>
        <input type=text id=url name=url>
      </p>
      <p>
        <label for=description> Description: </label>
        <input type=text id=description name=description>
      </p>

      <button type=submit> Submit </button>
    </form>
  </body>
</html>
