<div class="row">
  <div class="large-12">
    <h1>Drinks</h1>

    <%- if !@categories.empty? -%>
      <ul>
        <% @categories.each do |category| %>
          <li><%= link_to category.name, category_drinks_path(category) %></li>
        <% end %>
      </ul>

    <%- end -%>
  </div>
</div>
