<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Actors</title>
    <link rel="stylesheet" href="/public/css/vendor/normalize.css">
    <link rel="stylesheet" href="/public/css/vendor/foundation.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <meta charset="UTF-8">
  </head>

  <body>

    <h1>Actors</h1>

    <ul>
      <% actors.each do |actor| %>
      <li><%= actor["name"] %> </li>
      <% end %>
    </ul>



    <!-- <h2><a href="/movies">Movies</a></h2> -->

  </body>
</html>
