<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Awesome-Sauce Movie Catalog</title>
    <link rel="stylesheet" href="/public/css/vendor/normalize.css">
    <link rel="stylesheet" href="/public/css/vendor/foundation.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <meta charset="UTF-8">
  </head>

  <body>

    <h1>Awesome-Sauce Movie Catalog</h1>
    
    <h2><a href="/actors">Actors</a></h2>
    <h2><a href="/movies">Movies</a></h2>

  </body>
</html>
