<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rock-Paper-Scissors</title>
    <link rel="stylesheet" href="/public/vendor/normalize.css" />
    <link rel="stylesheet" href="/public/vendor/foundation-min.css" />
    <link rel="stylesheet" href="/public/style.css" />
  </head>

  <body>
    <h1>Rock, Paper, Scissors!</h1>

    <p><%= result_message %></p>

    <table>
      <tr class="table-header">
        <td>Player</td>
        <td>Score</td>
      </tr>
      <tr class="table-data">
        <td>Human:</td>
        <td><%= session[:human_score] %></td>
      </tr>
      <tr class="table-data">
        <td>Computer:</td>
        <td><%= session[:computer_score] %></td>
      </tr>
    </table>

    <% if session[:game_result].nil? %>
      <h2>Choose!</h2>

      <span>
        <form action="/choose" method="post">
          <input type="submit" name="choice" value="Rock">
          <input type="submit" name="choice" value="Paper">
          <input type="submit" name="choice" value="Scissors">
        </form>
      </span>
    <% else %>
      <p><%= session[:game_result] %></p>
      <form action="/reset" method="post">
        <input type="submit" name="reset" value="Reset">
      </form>
    <% end %>

  </body>
</html>
