html {
  background-color: #ccc;
}

body {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  background-color: white;
  border: 5px inset #ddd;
}

.reset {
  float: right;
}

.field {
  display: inline;
}

.action {
  display: inline;
}

h1 {
  text-align: center;
}

ul li {
  list-style: none;
  margin-left: 33%;
}

#submit {
  float: right;
}
